@media (max-width: 80.14rem){
  .header,.footer{
    transition: .2s;
    width: 80%;
    margin-left: 8rem;
    padding-top:.5rem;
    margin-bottom: 3.8rem;
    &__block{
      margin-left: 15rem;
    }}
  .preview{
    margin-left: 8rem;
    &__tittle{
    font-size: 2.5rem;}}
  .fire-tours{
    margin: 9rem 8rem 0;
    &__tittle{font-size: 25px;}
    &__fire{display: none;}
    &__cards{width: 80%;}
    &__card{width: 20rem;}}
  .news {
    width: 80%;
    height: auto;
    margin: 5.19rem 8rem 0;
    &__tittle{font-size: 25px;}
    &__cheepest-tours-content-one,&__cheepest-tours-content-two{
      width: 31rem;}
  }
  .about-us{
    width: 80%;
    margin: 5rem 8rem .5rem;
    &__image{width: 23rem; height: 24rem;}
    &__content {
      width: 74rem;
      height: 21.6rem;
      margin: 7rem 0 3.5rem -10rem;
      background: url('../img/mountains.jpg') no-repeat center ;
      color: rgb(0, 0, 0);
      line-height: 1;}
    &__article{margin: 2.8rem 3rem;}
    &__tittle {
      font-weight: 700;
      font-size: 25px;}
      &__text {
        width: 70%;
        margin-bottom: 3rem;}
  }
  .footer{
    &__center{
      display: flex;justify-content: center;
    }
    .menu__list{display: none;}
  }

  .button{
    border: .01px solid #F5170E;
    font-size: 10px;
  }
  .services__partners-tittle{
    width: 80%;
    margin-left: 0;
  }
  .services__content{
    margin-left: 15rem;}
  .services__image{
      width: 20rem;
      height: 15rem;}
  .services__card-content{
    width: 35rem;
  }
  .services__partners{
    margin-left: 15rem;
    width: 80%;
  }

}

@media (max-width: 32.14rem){
  html, body{
    transition: 1s;
    line-height: .9; 
    font-size: 10px;
  }
  .header,.footer{
    width: 30%;
    margin-left: 30rem;
    padding-top:.5rem;
    margin-bottom: 3.8rem;
    &__menu{margin: 2rem 0 0 2rem;
      }
    .address__tel{font-size: 15px;}
    .menu__list{gap:0;display: flex; flex-direction: column;}}
  .preview{
    margin-left: 30rem;
    &__tittle{
    font-size: 2rem;}}
  .fire-tours{
    margin: 11rem 30rem 0;
    &__tittle{font-size: 25px;}
    &__fire{display: none;}
    &__cards{width: 80%;
      margin-top: 1.8rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;}
    &__card{width: 25rem;}}
  .news {
    width: 80%;
    height: auto;
    margin: 10rem 30rem 0;
    .slide{display: flex;justify-content: start;
      margin: 5.2rem 0;
      &__pages{display: none;}
    }
    &__tittle{font-size: 25px;}
    &__cheepest-tours{display: flex;flex-direction: column;gap: 2rem;}
    &__cheepest-tours-content-one,&__cheepest-tours-content-two{
      width: 25rem;}
  }
  .about-us{
    width: 80%;
    margin: 12rem 30rem .5rem;
    &__image{width: 13rem; height: 14rem;}
    &__content {
      width: 25rem;
      height: 21.6rem;
      margin: 7rem 0 3.5rem -10rem;
      background: url('../img/mountains.jpg') no-repeat center ;
      color: rgb(0, 0, 0);
      line-height: 1.4;}
    &__article{margin: 2.8rem 3rem;}
    &__tittle {
      font-weight: 700;
      font-size: 24px;}
      &__text {
        width: 70%;
        line-height: .8;
        margin-bottom: 4rem;}
  }
  .footer{
    &__center{
      display: flex;justify-content: center;
    }
    .menu__list{display: none;}
  }

  .button{
    border: .01px solid #F5170E;
    font-size: 10px;
  }
}

