.wrapper__welcome{
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: url('../img/welcome/welcome.jpg') no-repeat;
  background-size: contain;
  background-color: #021018;
}

.welcome{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content{
    padding-top: 25.42rem;
    animation: heartBeat infinite;
    animation-duration: 2s;
    text-align: center;
  }
  &__text{
    width: 42.21rem;
    height: 17.71rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: #fff;
    background: url('../img/welcome/shades.png') no-repeat;
  }
  &__logo{
    width: 19.92rem;
    height: 8.5rem;
    background: url('../img/welcome/welcome-logo.png');}
  .logo__link{
    display: flex;
    width: 19.92rem;
    height: 8.5rem;
  }
  &__item{
    margin-top: -.69rem;
    font-weight: 400;
    font-size: 18px;
  }
}